doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title hack.chat
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="katex/katex.min.css")
		link#scheme-link(rel="stylesheet", href="schemes/atelier-dune.css")
		script(src="katex/katex.min.js")
		script(src="urlize.js")
		script(src="client.js")
	body
		.container
			#messages.messages
		
		footer.hidden
			.container
				form#chatform.messages
					textarea#chatinput(type='text', autocomplete='off')
