body {
	padding: 0;
	margin: 0;
	overflow-y: scroll;
}

body, input, textarea {
	font-family: 'DejaVu Sans Mono', monospace;
	font-size: 12px;
}

input[type="checkbox"] {
	margin: 0;
	margin-right: 1em;
}

label {
	// might not be very cross-browser browser
	vertical-align: 3px;
}

input, textarea {
	background: none;
	border: none;
	outline: none;
	resize: none;
}

h4 {
	font-size: 12px;
	margin: 1em 0;
	font-weight: bold;
}

pre {
	tab-size: 2;
	white-space: pre-wrap;
	word-wrap: break-word;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

ul {
	padding-left: 0;
	li {
		list-style: inside;
	}
}

.hidden {
	display: none;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

.messages {
	border-left: 1px solid;
}

#messages {
	padding-top: 2em;
}

.message {
	padding-bottom: 1em;
}

.nick {
	float: left;
	width: 10em;
	margin-left: -11em;
	margin-right: 1em;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
}

.text {
	margin: 0;
	margin-left: 1em;
}

.text p {
	margin: 0;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

#chatform {
	border-top: 1px solid;
}

#chatinput {
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
}

#sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 1em;
	border-left: solid 1px;
}

#sidebar-content {
	width: 170px;
}


@media only screen and (max-width: 600px) {
	.messages {
		border: none;
	}
	#messages {
		padding: 0.5em;
	}
	.message {
		padding-bottom: 0.5em;
	}
	.nick {
		margin: 0;
		float: none;
		text-align: left;
		display: inline;
	}
	.text {
		display: inline;
	}
	#sidebar {
		top: 0.5em;
		bottom: auto;
		right: 0.5em;
		border-left: none;
	}
}
