//
// Base16 Bright
// Created by Fredrik Broman (http://frebro.com)
// Based on the Android visual guidelines
// http://developer.android.com/design/style/color.html
//

@base00: #212121;
@base01: #333333;
@base02: #626261;
@base03: #858585;
@base04: #dddddd;
@base05: #e0e0e0;
@base06: #f2f2f2;
@base07: #ffffff;

@base08: #e94749;
@base09: #f18618;
@base0A: #fbba37;
@base0B: #99C21D;
@base0C: #33B5E5;
@base0D: #0099CC;
@base0E: #9568AA;
@base0F: #754595;
